.page-wrapper {
  background-color: #ADD8E6;
  width: 100%
}

.body-wrapper {
  background-color: white; 
  max-width: 22em;
  margin: auto;
  padding: 1em;
  border-radius: 4px; 
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;    
}

.element {
  width: 300px;
  margin: 5px;
  text-align: center; 
}

.qr-code {
  display: block; 
  width: 22em; 
  height: 22em; 
  border-radius: 2em;
}

.text-black {
  text-align: center; 
  margin: 0 auto;
  max-width: 11em; 
  word-break: 
  break-word;
}

.text-grey {
  text-align: center; 
  margin: 0 auto; 
  max-width: 15em; 
  word-break: break-word; 
  color: gray; 
  padding: 1em;
}