.page-wrapper {
  background-color: #ADD8E6;
}

.body-wrapper {
  background-color: white; 
  border-radius: 4px; 
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.element {
  width: 300px;
  margin: 5px;
  text-align: center; 
}

.qr-code {
  display: block; 
  width: 22em; 
  height: 22em; 
  padding: 1em; 
  border-radius: 2em;
}

.text-black {
  text-align: center; 
  margin: 0 auto;
  max-width: 11em; 
  word-break: 
  break-word;
}

.text-grey {
  text-align: center; 
  margin: 0 auto; 
  max-width: 15em; 
  word-break: break-word; 
  color: gray; 
  padding: 1em;
}